@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@400;700&display=swap');
:root {
    --white: #fff;
    --orange: rgb(255, 138, 91);
    --siva: #555;
    --moka: #fceade;
    --black: #000;
    --transition: .4s ease;
}
html {
    scroll-behavior: smooth;
}

/**************
basic styles
**************/
body {
    font-family: 'Roboto', sans-serif;;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
.py-5 {
    padding: 100px 0 !important;
}
.title h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: var(--orange);
}

/***************
nav
***************/
.navbar {
    background: var(--black);
    padding: 0;
    margin: 0;
    border-top: 5px solid var(--orange);
}
.navbar-brand {
    color: var(--white);
    background: var(--orange);
    padding: 15px 40px;
    text-shadow: 0 0 2px var(--black);
    transition: var(--transition);
}
.navbar-brand:hover{
    color: var(--black);
    text-shadow: 0 0 2px var(--white);
}
.navbar .nav-link {
    color: var(--orange);
    font-size: 20px;
    margin: 0 10px;
    transition: var(--transition);
}
.navbar .nav-link:hover {
    color: var(--white);
    transition: var(--transition);
}

/***************
banner
***************/
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .99)), url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
#banner::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--black);
    transform: skewY(10deg);
    transform-origin: left bottom;
    bottom: 0;
    z-index: -1;
}
#banner .row {
    height: 80vh;
}
#banner h2 {
    color: var(--orange);
    margin-bottom: 30px;
}
.bannerBtn {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    padding: 15px 25px;
    border: 2px solid var(--orange);
    text-transform: uppercase;
    background: transparent;
    margin: 0 10px;
    transition: var(--transition);
}
.bannerBtn:hover {
    text-decoration: none;
    color: var(--black);
    background: var(--orange);
}

/***************
banner icons
***************/
.bannerIcons {
    margin-top: -100px;
}
.bannerIcons ul li {
    background: var(--orange);
    margin: 0 10px;
    padding: 10px;
    color: var(--white);
}
.bannerIcons i {
    font-size: 50px;
    transition: var(--transition);
}
.bannerIcons i:hover {
    color: var(--black);
}

/***************
services
***************/
#services {
    margin-top: 100px;
}
#services i {
    font-size: 60px;
    color: var(--white);
    background: var(--orange);
    padding: 50px;
    transition: var(--transition);
}
#services i:hover {
    background: var(--black);

}
#services .fa-apple {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
#services .fa-android {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
#services .fa-php {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
#services .fa-js {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

/***************
contact
***************/
#contact {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/contact.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}
#contact .row {
    height: 45vh;
}
#contact h2 {
    color: var(--white);
    font-size: 5em;
    text-transform: uppercase;
}
#contact input {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--white);
    border-radius: 0;
    font-size: 2.5em;
}
#contact button {
    text-decoration: none;
    color: var(--orange);
    font-size: 2em;
    padding: 10px 30px;
    border: 2px solid var(--orange);
    text-transform: uppercase;
    background: transparent;
    margin-left: 30px;
    transition: var(--transition);
}
#contact button:hover {
    text-decoration: none;
    color: var(--black);
    background: var(--orange);
}

/***************
team
***************/
.carousel-caption {
    background: var(--orange);
    bottom: 100px;
}
#team .row {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}
.carousel-control-prev,
.carousel-control-next {
    background: transparent;
    border: none;
}

/***************
about
***************/
#about {
    background-image: url(img/about-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    padding: 100px 0 200px 0;
}
#about img {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#about .card-header {
    background: var(--orange);
}
#about .card-header .btn {
    color: var(--black);
    font-size: 25px;
    text-decoration: none;
}
#about .card-header .btn:hover {
    color: var(--white);
    text-decoration: none;
}
.btn-link::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0a4";
}

/***************
projects
***************/
#projects .col-md-3 {
    padding: 0 !important;
}
#projects .imgContainer {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    overflow: hidden;
}
#projects .imgContainer img:hover {
    opacity: .7;
    transition: var(--transition);
    cursor: pointer;
}
#projects .imgIcons {
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    width: 100%;
    position: absolute;
    bottom: -5rem;
    transition-duration: 1s;
    padding: 20px 0;
}
#projects i {
    color: var(--orange);
    font-size: 35px;
    transition: var(--transition);
    margin: 0 10px;
}
#projects i:hover {
    color: var(--siva);
}
#projects .imgContainer:hover .imgIcons {
    bottom: 0;
}

/***************
people
***************/
#people {
    padding-bottom: 100px;
}
#people img {
    border-radius: 50%;
    width: 80%;
    margin: -100px auto 0 auto;
}
#people .row:nth-child(2) {
    margin-top: 100px;
}
#people hr {
    border: none;
    height: 1px;
    background: var(--orange);
}
#people i {
    color: var(--orange);
    font-size: 1.9rem;
    transition: var(--transition);
    margin: 0 8px;
}
#people i:hover {
    color: var(--siva);
}

/***************
skills
***************/
#skills {
    background-image: linear-gradient(rgba(255, 138, 91, .7), rgba(255, 138, 91, .7)), url(img/progress.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    margin-top: 100px;
}

#skills .progress-bar {
    background: var(--black);
}

/***************
pricing
***************/
#pricing .card {
    border-radius: 0;
}
#pricing .card-title {
    padding-top: 20px;
}
.priceNum {
    position: relative;
    background: var(--moka);
}
.money {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 25px;
}
.moneyNum {
    font-size: 60px;
}
.moneyEnd {
    font-size: 17px;
}
.btn {
    background: var(--orange);
    transition: var(--transition);
    border-radius: none;
}
.btn:hover {
    background: var(--siva);
    color: var(--white);
}
#pricing .list-group li:first-child {
    padding-top: 50px;
}
#pricing .list-group {
    border-radius: 0 !important;
}
#pricing .action {
    background: var(--orange);
}

/***************
footer
***************/
#footer {
    background: var(--black);
    margin-top: 100px;
}
#footer i, h2 {
    color: var(--orange);
}
#footer p {
    color: var(--white);
}

/***************
responsive
***************/
@media(max-width: 767px) {
    #banner h1 {
        font-size: 4rem;
    }
    #banner .row {
        height: 70vh;
    }
    .bannerIcons {
        margin-top: -130px;
    }
    .bannerIcons ul li {
        margin: 0 5px;
        padding: 5px;
    }
    #about .col-md-5 {
        margin-top: 30px;
    }
    #people img {
        width: 70%;
        margin: 0 auto 0 auto;
        padding-top: 30px;
    }
    #skills {
        margin-top: 50px;
    }
    #pricing .col-md-3 {
        margin-bottom: 30px;
    }
}