@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@400;700&display=swap');
:root {
    --white: #fff;
    --orange: rgb(255, 138, 91);
    --siva: #555;
    --moka: #fceade;
    --black: #000;
    --transition: .4s ease;
}

/**************
basic styles
**************/
body {
    font-family: 'Roboto', sans-serif;;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

/***************
nav
***************/
.navbar {
    background: var(--black);
    padding: 0;
    margin: 0;
    border-top: 5px solid var(--orange);
}
.navbar-brand {
    color: var(--white);
    background: var(--orange);
    padding: 15px 40px;
    text-shadow: 0 0 2px var(--black);
    transition: var(--transition);
}
.navbar-brand:hover{
    color: var(--black);
    text-shadow: 0 0 2px var(--white);
}
.navbar .nav-link {
    color: var(--orange);
    font-size: 20px;
    margin: 0 10px;
    transition: var(--transition);
}
.navbar .nav-link:hover {
    color: var(--white);
    transition: var(--transition);
}

/***************
banner
***************/
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .99)), url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
#banner::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--black);
    transform: skewY(10deg);
    transform-origin: left bottom;
    bottom: 0;
    z-index: -1;
}
#banner .row {
    height: 80vh;
}
#banner h2 {
    color: var(--orange);
    margin-bottom: 30px;
}
.bannerBtn {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    padding: 15px 25px;
    border: 2px solid var(--orange);
    text-transform: uppercase;
    background: transparent;
    margin: 0 10px;
    transition: var(--transition);
}
.bannerBtn:hover {
    text-decoration: none;
    color: var(--black);
    background: var(--orange);
}

/***************
banner icons
***************/
.bannerIcons {
    margin-top: -100px;
}
.bannerIcons ul li {
    background: var(--orange);
    margin: 0 10px;
    padding: 10px;
    color: var(--white);
}
.bannerIcons i {
    font-size: 50px;
    transition: var(--transition);
}
.bannerIcons i:hover {
    color: var(--black);
}